.ReAuth.cfg
icon.png
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
WailaErrorOutput.txt
.mixin.out/
betweenlands_gallery/
craftpresence/chardata.properties
crash-reports/
journeymap/
llibrary/
local/
logs/
mods/memory_repo/
saves/
notes/
config/ecomod/update.properties
