.ReAuth.cfg
icon.png
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
WailaErrorOutput.txt
.mixin.out/
betweenlands_gallery/
craftpresence/chardata.properties
crash-reports/
journeymap/
llibrary/
local/
logs/
mods/memory_repo/
saves/
notes/
banned-ips.json
banned-players.json
eula.txt
launch.bat
minecraft_server.1.12.2.jar
ops.json
server.jar
server.properties
whitelist.json
libraries/
oldconfig/
world/
config/ecomod/update.properties
screenshots/
